@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
}
body {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background: #0e1538;
   overflow: hidden;
}

.box {
   position: relative;
   width: 300px;
   height: 400px;
   display: flex;
   justify-content: center;
   align-items: center;
   background: rgba(0, 0, 0, 0.5);
   border-radius: 20px;
   overflow: hidden;
}

.box::before {
   content: "";
   position: absolute;
   width: 150px;
   height: 140%;
   background: linear-gradient(#0cf, #d400d4);
   animation: border 4s linear infinite;
}

@keyframes border {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}

.box::after {
   content: "";
   position: absolute;
   background: #0e1538;
   inset: 4px;
   border-radius: 16px;
}

.box h2 {
   position: relative;
   color: #fff;
   font-size: 10em;
   z-index: 10;
}

.box:nth-child(2) {
   position: absolute;
   top: -50px;
   left: -50px;
}
.box:nth-child(3) {
   position: absolute;
   top: -200px;
   left: 950px;
}
.box:nth-child(4) {
   position: absolute;
   bottom: -200px;
   left: 1100px;
}
.box:nth-child(5) {
   position: absolute;
   bottom: -350px;
   left: 100px;
}
